body {
  text-align: center;
  margin: 0;
}

a {
  color: #61dafb;
}

input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-left: 5px;
}

button {
  margin-left: 5px;
  padding: 10px;
  font-size: 1vw;
  border-radius: 5px;
  outline: none;
}

#nav {
  position: fixed;
  top: 0; left: 0;
  background-color: #560319;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  color: white;
}

#character-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
}

#team-list {
  margin: 10px;
  width: 50vw;
}

#character-list {
  margin: 10px;
  padding-right: 15vw;
  display: flex;
  flex-direction: column;
  width: 30vw;
}

#character-card {
  background-color: #560319;
  color: gold;
  font-size: 2vw;
  padding: 10px;
  border: 1px solid black;
}
